---
import CardExp from "../components/CardExp.astro";
import CardProject from "../components/CardProject.astro";
import ContactForm from "../components/ContactForm.tsx";
import SocialIcon from "../components/SocialIcon.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { getCollection } from "astro:content";

const experiences = await getCollection("experiences");
const projects = await getCollection("projects");
const sections = [
  { name: "ABOUT ME", id: "about" },
  { name: "EXPERIENCE", id: "experience" },
  { name: "PROJECTS", id: "projects" },
  { name: "CONTACT", id: "contact" },
];
---

<Layout>
  <div class="p-4 md:flex h-screen">
    <div class="pb-9 pt-5 px-4 md:ml-30 md:mt-16 md:h-screen md:w-1/2">
      <div class="md:fixed">
        <div>
          <h1
            class="text-5xl md:text-[50px] font-bold tracking-tight sm:text-5xl text-primary"
          >
            Emilio Florez
          </h1>
          <h2 class="text-2xl text-accent">Fullstack developer</h2>
        </div>
        <div class="mt-10">
          <ul id="menu">
            {
              sections.map((section) => (
                <li class="group flex items-center space-x-2">
                  <div
                    class="bg-accentd1 w-5 h-0.5 transition-all group-hover:w-10 group-hover:bg-primary"
                    data-id={section.id}
                  />
                  <a
                    href={`#${section.id}`}
                    class="text-accentd1 section-link hover:text-primary"
                    data-id={section.id}
                  >
                    {section.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="flex space-x-4 md:mt-10">
          <SocialIcon name={"mdi:linkedin"} />
          <SocialIcon name={"mdi:github"} />
          <SocialIcon name={"mdi:gmail"} />
        </div>
      </div>
    </div>

    <div class="md:mr-30 md:mt-20 text-[#faf0cad1] md:w-1/2">
      <section id="about" class="mb-10 p-4 scroll-mt-10 section">
        <p>
          Lorem ipsum dolor <a class="text-[#FAF0CA]">sit amet</a>, consectetur
          adipiscing elit. Nullam ut nisi leo. Aliquam tristique ex odio, eget
          consectetur turpis ultrices blandit. Suspendisse sit amet tempor
          justo. In luctus ante hendrerit nunc efficitur, et congue turpis
          accumsan. Nam vitae sagittis purus, quis porttitor lectus. Aliquam
          blandit velit eget lacus congue, vestibulum porta ipsum pellentesque.
          Morbi rutrum, massa sed tristique bibendum, nisi sem eleifend nibh,
          vitae congue sem nisl sed turpis. Cras dapibus odio in hendrerit
          auctor. Cras quis rhoncus elit. Nunc eget neque vel ligula vulputate
          pretium. Nulla faucibus aliquet est in bibendum. Phasellus vitae augue
          at velit posuere dignissim. Duis non dui diam. Aliquam erat volutpat.
          Donec dictum quis mi eu rhoncus. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Nullam ut nisi leo. Aliquam tristique ex
          odio, eget consectetur turpis ultrices blandit. Suspendisse sit amet
          tempor justo. In luctus ante hendrerit nunc efficitur, et congue
          turpis accumsan. Nam vitae sagittis purus, quis porttitor lectus.
        </p>
      </section>

      <section id="experience" class="mb-10 section">
        <h1 class="text-4xl text-center">Experience</h1>
        <ul>
          {
            experiences.map((experience) => (
              <li>
                <CardExp experience={experience} />
              </li>
            ))
          }
        </ul>
      </section>

      <section id="projects" class="mb-10 section">
        <h1 class="text-4xl text-center">Projects</h1>
        <ul>
          {
            projects.map((project) => (
              <li class="mb-6">
                <CardProject project={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section id="contact" class="section">
        <ContactForm client:load />
      </section>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const sections = document.querySelectorAll(".section");
      const menuLinks = document.querySelectorAll(".section-link");
      const menuDivs = document.querySelectorAll("ul#menu div");

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              menuLinks.forEach((link) => {
                link.classList.remove("font-bold", "text-primary");
              });

              menuDivs.forEach((div) => {
                div.classList.remove("w-10", "bg-primary");
              });

              const activeLink = document.querySelector(
                `.section-link[data-id='${entry.target.id}']`
              );
              if (activeLink) {
                activeLink.classList.add("font-bold", "text-primary");
              }

              const activeDiv = document.querySelector(
                `div[data-id='${entry.target.id}']`
              );
              if (activeDiv) {
                activeDiv.classList.add("w-10", "h-0.5", "bg-primary");
              }
            }
          });
        },
        { threshold: 0.8 }
      );

      sections.forEach((section) => observer.observe(section));
    });
  </script>
</Layout>
